node_modules/
**/node_modules/
**/dist/
**/.next/
**/artifacts/
**/cache/
**/typechain-types/
coverage/
.env
.env.*
!.env.example
.envrc
.local/
*.tsbuildinfo
**/next-env.d.ts
*.log
.vercel/
.DS_Store
